body,html{
  margin: 0;
  padding: 0;
  user-select: none;
}
/*  */
#container{
  display: grid;
  grid-template-rows: var(--main-grid-rows);
  grid-template-columns: var(--main-grid-cols);
  grid-template-areas:  var(--main-grid-areas);
  width: 100vw;
  height: 100vh;
}
#titleBar{
  grid-area: titlebar;
  background-color: var(--titlebar-bgc);
  display: grid;
  grid-template-columns: 1fr 150px
}
#sidebar{
  grid-area: sidebar;
  background-color: var(--sidebar-bgc);
}
#mainPanel{
  grid-area: mainPanel;
  background-color: #f0f
}
#player{
  grid-area: player;
  background-color: var(--player-bgc);
}