body,html{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box
}
/*  */
#container{
  width: 100vw;
  height: 100vh;
  border: 1px solid var(--sidebar-bgc);
  display: grid;
  grid-template-rows: var(--main-grid-rows);
  grid-template-columns: var(--main-grid-cols);
  grid-template-areas:  var(--main-grid-areas);
  box-sizing: border-box;
}
#titleBar{
  grid-area: titlebar;
  background-color: var(--titlebar-bgc);
  display: grid;
  grid-template-columns: 1fr 100px
}
.draggable{
  -webkit-app-region:drag;
}
#sidebar{
  grid-area: sidebar;
  background-color: var(--sidebar-bgc);
  display: grid;
  grid-template-rows: 30px auto 1fr 50px ;
  grid-template-columns: 1fr;
}
.sidebarIcons{
  padding: 10px;
  fill: var(--sidebarIcons-fill);
  height: 30px;
  width: 30px;
}
#search{
  transform: scaleX(-1)
}
#mainPanel{
  grid-area: mainPanel;
  background-color: var(--main-bgc);
  box-sizing: border-box;
}
#player{
  grid-area: player;
  background-color: var(--player-bgc);
}
.windowControlButton{
  /* close, min, max */
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: var(--windowControlButton-bgc)
}
.windowControlButton:focus,
.windowControlButton:active{
  outline: none;
  border: none;
}
.windowControlButton:hover{
  background-color: var(--windowControlButton-hover-bgc) ;
}
#close-btn:hover{
  background-color: #f00;
}
/*  */
#songList{
  box-sizing: border-box;
  padding: 10px;
}
.song{
  display: grid;
  box-sizing: border-box;
  gap: 0 5px 0 0;
  padding: 5px 0;
  height: 40px;
  line-height: 30px;
  padding-left: 10px;
  color: var(--song-color)
}
.song > *{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
duration{
  padding-right: 10px;
}
.song:nth-child(odd){
  background-color: var(--song-odd-bgc);
}
.song:nth-child(even){
  background-color: var(--song-even-bgc);
}
/* media queries */
@media (min-width: 1200px) {
  .song{
    grid-template-columns: minmax(360px, 1fr) minmax(0, 360px) minmax(0,360px) 40px
  }
}
/* @media (min-width: 1300px) {
  .song{
    grid-template-columns: 390px 390px 390px minmax(30px, 1fr);
  }
} */