:root {
	--main-grid-rows: 30px 1fr 90px;
	--main-grid-cols: 50px 1fr 75px;
	--main-grid-areas: 'sidebar titlebar titlebar' 'sidebar mainPanel mainPanel'
		'playerArea playerArea playerArea';
	--sidebar-bgc: #2b2b2b;
	--sidebarIcons-fill: #ffffff;
	--main-bgc: #000000;
	--playerArea-bgc: #4e4e4e;
	--song-color: #f7f1f1;
	--titlebar-bgc: #000000;
	--song-odd-bgc: #1a1a1a;
	--song-even-bgc: #000;
	--song-hover-bgc: #333333;
	--song-active: #3b4452;
	--windowControlButton-bgc: #ffffff;
	--windowControlButton-hover-bgc: #333333;
	--scrollbar-color: #202020;
	--scrollbar-hover-color: #0a0a0a;
}
